{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/about.jpg' %}');">
    <h2 class="ltext-105 txt-center">
        About
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120 ">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    {% for message in messages %}
                    <div class="alert alert-success" id="msg">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    <h3 class="mtext-111 cl2 p-b-16">
                        The Company
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Computer world one of the best electrical retailers with million people and employee connected.
                        compuetr world provide multi type of products to the customer like laptops, monitor, graphics
                        card and so on.
                        The company's warehouse located in southall, from where over 20,000 weekly orders are delivered
                        to customers throughout the UK.

                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        We provide best quality of products to the customers, and our delivery service increasing day by
                        day,
                        because customers know we provide best quality and low price of products to the customers.We
                        provide pre build
                        Gaming Pc to customers because some people don't have a time to build the pc so we are trying to
                        saving their time and hard work.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Any questions? Let us know in store at, 245 Brodway Southall, United kingdom, Ub12gh or call
                        us on (+44) 36 716 58794
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img class="w-100" src="{% static 'images/company.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Service
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Computer world company alwayes focus to helping customers and save time.If customer has any
                        issue with any product our customer service
                        number is on the website, they can call anytime in working dayes without any time waste.When
                        customers buy any product
                        our company send them confirmation email for purcase product.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            We are always looking to improve our service to customers and this means listening to what
                            our customers want. If you have any feedback for us, we look forward to hearing from you.
                        </p>

                        <span class="stext-111 cl8">
                            - preet singh
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img class="w-100" src="{% static 'images/customer-service.jpg' %}"
                            alt="customer service image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block page_footer %}
<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32 pos-absolute  w-100">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30 ">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=pc" class="stext-107 cl7 hov-cl1 trans-04">
                            Pc
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=components" class="stext-107 cl7 hov-cl1 trans-04">
                            Components
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=laptops" class="stext-107 cl7 hov-cl1 trans-04">
                            Laptops
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=monitors" class="stext-107 cl7 hov-cl1 trans-04">
                            Monitors
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 ">
                    Any questions? Let us know in store at, 245 Brodway Southall, United kingdom, Ub12gh or call
                    us
                    on
                    (+44) 36 716 58794
                </p>

                <div class="p-t-27">
                    <a href="https://www.facebook.com/peetu.90/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="https://www.twitter.com" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50 text-center col-md-12">

                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>
                <div class="wrap-input1 w-full p-b-4 t">
                    <p><a class="cl7" href="{% url 'newsletter_signup' %}">Subscribe <i class="fa fa-envelope"></i></a>
                    </p>
                    <div class="focus-input1 trans-04"></div>
                </div>
                <div class="p-t-18">
                    <p><a class="cl7" href="{% url 'newsletter_unsubscribe' %}">Unsubscribe <i
                                class="fa fa-envelope"></i></a></p>
                </div>

            </div>
        </div>
        <div class="p-t-40">
            <p class="stext-107 cl6 txt-center">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved
            </p>
        </div>
    </div>
</footer>
{% endblock %}