{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Title section -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/about.jpg' %}');">
    <h2 class="ltext-105 txt-center">
        About
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120 ">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    {% for message in messages %}
                    <div class="alert alert-success" id="msg">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    <h3 class="mtext-111 cl2 p-b-16">
                        The Company
                    </h3>

                    <p class="stext-113 about-us-text p-b-26">
                        Computer World is one of the world’s best electrical retailers, with a million people and
                        employees connected worldwide. Computer World sells a multitude of products ranging from
                        laptops, monitors, graphics cards and other peripherals. The company's warehouse is located in
                        Southall, from where over 20,000 weekly orders are delivered to customers throughout the UK.

                    </p>

                    <p class="stext-113 about-us-text p-b-26">
                        We provide the best quality products to customers, and our delivery services are expanding day
                        by day. Customers can be assured that we provide the best quality at a competitive price. We
                        also have a Pre-built PC division for customers for require a PC without the hassle.
                    </p>

                    <p class="stext-113 about-us-text p-b-26">
                        Any questions? Let us know in store at, 245 Brodway Southall, United kingdom, Ub12gh or call
                        us on (+44) 36 716 58794
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img class="w-100" src="{% static 'images/company.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Service
                    </h3>

                    <p class="stext-113 about-us-text p-b-26">
                        Computer World’s primary focus is to help customers and save them time. If customers have any
                        issues with any product, our customer service number is on the website. They can call at any
                        time during working hours of 9-6PM, Mon-Fri. When customers purchase any product, they are sent
                        a confirmation email. They must keep this for any potential returns/warranty claims.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 about-us-text p-r-40 p-b-11">
                            We are always looking to improve our service to customers, and this means listening to what
                            our customers want. If you have any feedback for us, we look forward to hearing from you.
                        </p>

                        <span class="stext-111 cl8">
                            - Preet singh
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img class="w-100" src="{% static 'images/customer-service.jpg' %}"
                            alt="customer service image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}