{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Newsletter -->
<main>
    <div class="main-container p-t-90">
        <div class="container">
            <div class="col-12">
                <div class="newsletter mt-5 m-b-170">
                    <div class="row">
                        <div
                            class="col-lg-7 col-xl-5 d-flex mb-5 mb-lg-0 justify-content-center justify-content-lg-end">
                            <img class="subscribe-image" src="{% static 'images/newsletter.jpg' %}" alt="">
                        </div>
                        <div class="subscribe-text col-lg-5 col-xl-6 d-flex flex-column my-xl-auto p-0">
                            <h2 class="m-b-20 text-uppercase">SUBSCRIBE TO OUR NEWSLETTER</h2>
                            <p>Join our newsletter for exclusive information about our Events, Promotions and Offers.
                            </p>
                            <ck-newsletter class="custom-element ck-newsletter p-t-20" data-qa=component ck-newsletter>
                                <form action="{% url 'newsletter_signup' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="subscribe-text input-xl-group d-flex flex-column flex-xl-row my-xl-2">
                                        <input style="border: 2px solid #000;"
                                            class="subscribe-input  bg-none plh1 stext-110  p-l-10" type="text"
                                            name="email" placeholder="email@example.com">
                                        {{form}}
                                        <span class="input-xl-group-btn subscribe-button">
                                            <button
                                                class=" stext-101 cl0 size-103 btn btn-primary p-lr-15 trans-04 p-l-20">
                                                Subscribe
                                            </button>
                                        </span>
                                    </div>
                                </form>

                            </ck-newsletter>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}


{% block page_footer %}
<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32 pos-absolute  w-100">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30 ">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="{% url 'products' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            All
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=pc" class="stext-107 cl7 hov-cl1 trans-04">
                            Pc
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=components" class="stext-107 cl7 hov-cl1 trans-04">
                            Components
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=laptops" class="stext-107 cl7 hov-cl1 trans-04">
                            Laptops
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=monitors" class="stext-107 cl7 hov-cl1 trans-04">
                            Monitors
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 ">
                    <a class="cl7" href="{% url 'sitemap'%}">Our Sitemap</a>
                </p>
                <p class="stext-107 cl7 ">
                    <a class="cl7" href="{% url 'send_email'%}">Contact Us</a>
                </p>

                <p class="stext-107 cl7 p-b-10">
                    <a class="cl7" href="{% url 'aboutus' %}">About Us</a>
                </p>

                <p class="stext-107 cl7 ">
                    Any questions? Let us know in store at, 245 Brodway Southall, United kingdom, Ub12gh or call
                    us
                    on
                    (+44) 36 716 58794
                </p>

                <div class="p-t-27">
                    <a href="https://www.facebook.com/peetu.90/" target="_blank"
                        class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="https://www.twitter.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50 text-center col-md-12">

                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>
                <div class="wrap-input1 w-full p-b-4 t">
                    <p><a class="cl7" href="{% url 'newsletter_signup' %}">Subscribe <i class="fa fa-envelope"></i></a>
                    </p>
                    <div class="focus-input1 trans-04"></div>
                </div>
                <div class="p-t-18">
                    <p><a class="cl7" href="{% url 'newsletter_unsubscribe' %}">Unsubscribe <i
                                class="fa fa-envelope"></i></a></p>
                </div>

            </div>
        </div>
        <div class="p-t-40">
            <p class="stext-107 cl6 txt-center">
                Copyright &copy;<span id="year">
                    <script>
                        document.getElementById("year").innerHTML = new Date().getFullYear();
                    </script> All rights reserved
            </p>
        </div>
    </div>
</footer>
{% endblock %}