{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Newsletter -->
<main>
    <div class="main-container p-t-90">
        <div class="container">
            <div class="col-12">
                <div class="newsletter mt-5 m-b-170">
                    <div class="row">
                        <div
                            class="col-lg-7 col-xl-5 d-flex mb-5 mb-lg-0 justify-content-center justify-content-lg-end">
                            <img class="subscribe-image" src="{% static 'images/newsletter.jpg' %}" alt="">
                        </div>
                        <div class="subscribe-text col-lg-5 col-xl-6 d-flex flex-column my-xl-auto p-0">
                            <h2 class="m-b-20 text-uppercase">SUBSCRIBE TO OUR NEWSLETTER</h2>
                            <p>Join our newsletter for exclusive information about our Events, Promotions and Offers.To
                                <ul><a class="text-secondary" href="{% url 'newsletter_unsubscribe' %}">Unsubscribe <i
                                            class="fa fa-envelope"></i></a></ul>
                            </p>
                            <ck-newsletter class="custom-element ck-newsletter p-t-20" data-qa=component ck-newsletter>
                                <form action="{% url 'newsletter_signup' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="subscribe-text input-xl-group d-flex flex-column flex-xl-row my-xl-2">
                                        <input style="border: 2px solid #000;"
                                            class="subscribe-input  bg-none plh1 stext-110  p-l-10" type="text"
                                            name="email" placeholder="email@example.com">
                                        {{form}}
                                        <span class="input-xl-group-btn subscribe-button">
                                            <button
                                                class=" stext-101 cl0 size-103 btn btn-primary p-lr-15 trans-04 p-l-20">
                                                Subscribe
                                            </button>
                                        </span>
                                    </div>
                                </form>

                            </ck-newsletter>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}