{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Site Map For Website -->
<div class="bg0 p-b-160">
    <div class="container text-center p-t-240 p-l-40 p-r-40">
        <h1 class="m-b-50">Site Map</h1>
        <div class="row">
            <div class="col" style="border: 1px solid gray;">
                <h3 class="text-left">A</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/aboutus/" target="_blank">About us</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=pc,components,laptops,monitors"
                            target="_blank">All
                            products</a></div>

                </div>
            </div>

            <div class="col m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">P</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/products/" target="_blank">Products</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=pc"
                            target="_blank">Pc</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=price&direction=asc"
                            target="_blank">Price: Low to High</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=price&direction=desc"
                            target="_blank">Price:High to Low</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/aboutus/privacy_policy/"
                            target="_blank">Privacy Policy</a></div>

                </div>

            </div>
        </div>

        <div class="row ">
            <div class="col m-t-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">B</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/bag/" target="_blank">Bag</a></div>

                </div>

            </div>


            <div class="col m-t-10 m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">R</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/accounts/password/reset/"
                            target="_blank">Reset Password</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=review&direction=desc"
                            target="_blank">Rating: High to Low</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=review&direction=asc"
                            target="_blank">Rating: Low to High</a></div>

                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col m-t-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">C</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=clearance"
                            target="_blank">clearance</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=components"
                            target="_blank">Components</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=category&direction=asc"
                            target="_blank">Categories:Low to High</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=category&direction=desc"
                            target="_blank">Categories:High to Low</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/contact/" target="_blank">Contact</a></div>
                </div>
            </div>


            <div class="col m-t-10 m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">S</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/accounts/signup/"
                            target="_blank">Signup</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=price&direction=asc"
                            target="_blank">Sort: Low to High</a></div>

                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=name&direction=asc"
                            target="_blank">Sort:Name Low to High</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=price&direction=asc"
                            target="_blank">Sort: Low to High</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=name&direction=desc"
                            target="_blank">Sort:Name High to Low</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/aboutus/sitemap/"
                            target="_blank">Sitemap</a></div>


                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col p-b-20 m-t-10" style="border: 1px solid gray;">
                <h3 class="text-left">D</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=deals"
                            target="_blank">Deals</a>
                    </div>

                </div>

            </div>
            <div class="col m-t-10 m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">U</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/aboutus/newsletter_unsubscribe/"
                            target="_blank">Unsubscribe Newsletter</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col p-b-20 m-t-10" style="border: 1px solid gray;">
                <h3 class="text-left">L</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/accounts/login/" target="_blank">Login</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=laptops"
                            target="_blank">Laptops</a>
                    </div>

                </div>

            </div>


            <div class="col m-t-10 m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">F</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/" target="_blank">Full site</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

{% endblock content %}