{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg0 p-b-160">
    <div class="container text-center p-t-240 p-l-40 p-r-40">
        <h1 class="m-b-50">Site Map</h1>
        <div class="row">
            <div class="col" style="border: 1px solid gray;">
                <h3 class="text-left">A</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/aboutus/" target="_blank">About us</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=pc,components,laptops,monitors"
                            target="_blank">All
                            products</a></div>

                </div>
            </div>

            <div class="col m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">P</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/products/" target="_blank">Products</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=pc"
                            target="_blank">Pc</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=price&direction=asc"
                            target="_blank">Price: Low to High</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=price&direction=desc"
                            target="_blank">Price:High to Low</a></div>

                </div>

            </div>
        </div>

        <div class="row ">
            <div class="col m-t-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">B</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/bag/" target="_blank">Bag</a></div>

                </div>

            </div>


            <div class="col m-t-10 m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">R</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/accounts/password/reset/"
                            target="_blank">Reset Password</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=rating&direction=desc"
                            target="_blank">Rating: High to Low</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=rating&direction=asc"
                            target="_blank">Rating: Low to High</a></div>

                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col m-t-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">C</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=clearance"
                            target="_blank">clearance</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=components"
                            target="_blank">Components</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=category&direction=asc"
                            target="_blank">Categories:Low to High</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=category&direction=desc"
                            target="_blank">Categories:High to Low</a></div>
                </div>
            </div>


            <div class="col m-t-10 m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">S</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/accounts/signup/"
                            target="_blank">Signup</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=price&direction=asc"
                            target="_blank">Sort: Low to High</a></div>

                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=name&direction=asc"
                            target="_blank">Sort:Name Low to High</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=price&direction=asc"
                            target="_blank">Sort: Low to High</a></div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?sort=name&direction=desc"
                            target="_blank">Sort:Name High to Low</a></div>

                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col p-b-20 m-t-10" style="border: 1px solid gray;">
                <h3 class="text-left">D</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=deals"
                            target="_blank">Deals</a>
                    </div>

                </div>

            </div>
            <div class="col m-t-10 m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">U</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/aboutus/newsletter_unsubscribe/"
                            target="_blank">Unsubscribe Newsletter</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col p-b-20 m-t-10" style="border: 1px solid gray;">
                <h3 class="text-left">L</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/accounts/login/" target="_blank">Login</a>
                    </div>
                    <div><a href="https://preet-computer-world.herokuapp.com/products/?category=laptops"
                            target="_blank">Laptops</a>
                    </div>

                </div>

            </div>


            <div class="col m-t-10 m-l-10 p-b-20" style="border: 1px solid gray;">
                <h3 class="text-left">F</h3>
                <div class="col">
                    <div><a href="https://preet-computer-world.herokuapp.com/" target="_blank">Full site</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

{% endblock content %}




{% block page_footer %}
<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32 pos-absolute  w-100">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30 ">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="{% url 'products' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            All
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=pc" class="stext-107 cl7 hov-cl1 trans-04">
                            Pc
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=components" class="stext-107 cl7 hov-cl1 trans-04">
                            Components
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=laptops" class="stext-107 cl7 hov-cl1 trans-04">
                            Laptops
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=monitors" class="stext-107 cl7 hov-cl1 trans-04">
                            Monitors
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 ">
                    <a class="cl7" href="{% url 'sitemap'%}">Our Sitemap</a>
                </p>
                <p class="stext-107 cl7 ">
                    <a class="cl7" href="{% url 'send_email'%}">Contact Us</a>
                </p>

                <p class="stext-107 cl7 p-b-10">
                    <a class="cl7" href="{% url 'aboutus' %}">About Us</a>
                </p>

                <p class="stext-107 cl7 ">
                    Any questions? Let us know in store at, 245 Brodway Southall, United kingdom, Ub12gh or call
                    us
                    on
                    (+44) 36 716 58794
                </p>

                <div class="p-t-27">
                    <a href="https://www.facebook.com/peetu.90/" target="_blank"
                        class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="https://www.twitter.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50 text-center col-md-12">

                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>
                <div class="wrap-input1 w-full p-b-4 t">
                    <p><a class="cl7" href="{% url 'newsletter_signup' %}">Subscribe <i class="fa fa-envelope"></i></a>
                    </p>
                    <div class="focus-input1 trans-04"></div>
                </div>
                <div class="p-t-18">
                    <p><a class="cl7" href="{% url 'newsletter_unsubscribe' %}">Unsubscribe <i
                                class="fa fa-envelope"></i></a></p>
                </div>

            </div>
        </div>
        <div class="p-t-40">
            <p class="stext-107 cl6 txt-center">
                Copyright &copy;<span id="year"></span>
                <script>
                    document.getElementById("year").innerHTML = new Date().getFullYear();
                </script> All rights reserved
            </p>
        </div>
    </div>
</footer>



{% endblock %}