{% load static %}

<!-- Menu Mobile -->
<div class="menu-mobile">

    <ul class="main-menu-m">
        <li>
            <a href="{% url 'home' %}">HOME</a>
        </li>

        <li>
            <a href="{% url 'products' %}">ALL PRODUCTS</a>
            <ul class="sub-menu-m">
                <li><a href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                <li><a href="{% url 'products' %}?sort=review&direction=desc">By Rating</a></li>
                <li><a href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                <li><a href="{% url 'products' %}?category=monitors">All Products</a></li>
            </ul>
            <span class="arrow-main-menu-m">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
        </li>


        <li>
            <a href="{% url 'products' %}">COMPUTING</a>
            <ul class="sub-menu-m">
                <li><a href="{% url 'products' %}?category=pc">Pc</a></li>
                <li><a href="{% url 'products' %}?category=components">Components</a></li>
                <li><a href="{% url 'products' %}?category=laptops">Laptops</a></li>
                <li><a href="{% url 'products' %}?category=monitors">Monitors</a></li>
                <li><a href="{% url 'products' %}?category=pc,components,laptops,monitors">All computing</a></li>
            </ul>
            <span class="arrow-main-menu-m">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
        </li>


        <li>
            <a href="{% url 'products' %}?category=deals" class="label1 rs1" data-label1="hot">DEALS</a>
        </li>


        <li>
            <a href="{% url 'products' %}?category=clearance">CLEARANCE</a>
        </li>


        <li>
            <a href="{% url 'aboutus' %}">ABOUT US</a>
        </li>
    </ul>
</div>

<ul class="topbar-mobile w-100 pos-fixed">

    <li>
        <div class="right-top-bar flex-w h-full">
            Free shipping for standard order over ${{free_delivery_threshold}}
        </div>
    </li>
</ul>