{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Computer world for who love gaming and pc in Southall, England">
    <meta name="keywords" content="Computer World, england, southall">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <!--===============================================================================================-->
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Computer World {% block extra_title %}{% endblock %}</title>
</head>

<body class="animsition">
    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <div class="wrap-menu-desktop">

                <nav class="limiter-menu-desktop containers">
                    <!-- Logo desktop -->
                    <a href="{% url 'home' %}" class="logo">
                        <h3 class="logo-text">COMPUTER</h3>
                        <img src="{% static 'images/icons/website-logo.svg'%}" alt="IMG-LOGO">

                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li class="active-menu">
                                <a href="{% url 'products' %}">ALL PRODUCTS</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                                    <li><a href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                                    <li><a href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                                    <li><a href="{% url 'products' %}">All Products</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="{% url 'products' %}">COMPUTING</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'products' %}?category=pc">Pc</a></li>
                                    <li><a href="{% url 'products' %}?category=components">Components</a></li>
                                    <li><a href="{% url 'products' %}?category=laptops">Laptops</a></li>
                                    <li><a href="{% url 'products' %}?category=monitors">Monitors</a></li>
                                    <li><a href="{% url 'products' %}?category=pc,components,laptops,monitors">All
                                            computing</a></li>
                                </ul>
                            </li>

                            <li class="label1" data-label1="hot">
                                <a href="{% url 'products' %}?category=deals">DEALS</a>
                            </li>


                            <li>
                                <a href="{% url 'products' %}?category=clearance">CLEARANCE</a>
                            </li>

                            <li>
                                <a href="{% url 'aboutus' %}">ABOUT US</a>
                            </li>
                        </ul>

                    </div>





                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <form method="GET" action="{% url 'products' %}" class="search-bar">
                            <div class="input-group w-100">
                                <input class="form-control border border-black rounded-0 " type="text" name="q"
                                    placeholder="Search our site">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border border-black rounded-0"
                                        type="submit">
                                        <span class="icon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <ul class="list-inline list-unstyled text-center text-lg-right my-0 main-menu">




                            <li class="list-inline-item dropdown">
                                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center">
                                        <div><i class="fa fa-user fa-lg"></i></div>
                                        {% if request.user.is_authenticated %}
                                        <p class="my-0 ">{{request.user}}</p>
                                        {% else %}
                                        <p class="my-0">Login/Register</p>
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                                    href="{% url 'view_bag' %}">
                                    <div class="text-center">
                                        <div><i class="fa fa-shopping-cart fa-lg"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                            {% else %}
                                            £0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>


                    </div>
                </nav>
            </div>
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        Free shipping for standard order over £{{free_delivery_threshold}}

                    </div>
                </div>
            </div>
        </div>



        {% include 'includes/main-nav.html'%}
        {% include 'includes/mobile-top-header.html'%}


        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
        </div>


        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </header>


    {% block page_footer %}

    {% endblock %}

    {% if messages %}
    <div>
        <div class=" container-fluid fixed-top ">

            <div class="message-container wrap-icon-header flex-w flex-r-m">
                {% for message in messages %}
                {% with message.level as level %}
                {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}



    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}


    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>

    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js'%}"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/slick/slick.min.js'%}"></script>
    <script src="{% static 'js/slick-custom.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/parallax100/parallax100.js'%}"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js'%}"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/isotope/isotope.pkgd.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/sweetalert/sweetalert.min.js'%}"></script>
    <script>
        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/contact.js'%}"></script>

</body>

</html>