{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/about.jpg' %}');">
    <h2 class="ltext-105 txt-center">
        Contact
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">

            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">

                <form action="{% url 'send_email' %}" method="POST">
                    {% csrf_token %}
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Send Us A Message
                    </h4>

                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="text-danger">
                        <strong>{{ error }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <div class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30">



                            {{form.name}}
                        </div>
                        <img class="how-pos4 pointer-none" src="{% static 'images/icons/user.jpg' %}" alt="ICON">
                    </div>



                    <div class="bor8 m-b-20 how-pos4-parent ">
                        <div class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30 ">
                            {{form.email}}
                            <img class="how-pos4 pointer-none" src="{% static 'images/icons/icon-email.png' %}"
                                alt="ICON">
                        </div>
                    </div>



                    <div class="bor8 m-b-30">
                        <div class="stext-111 cl2 plh3 size-120 p-l-28 p-t-25">
                            {{form.message}}
                        </div>
                    </div>


                    <button type="submit"
                        class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Submit
                    </button>
                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-map-marker"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Address
                        </span>

                        <p class="stext-115 cl6 size-213 p-t-18">
                            Computer World 245 Brodway Southall, United kingdom, UB12GH
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-phone-handset"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Lets Talk
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            (+44) 36 716 58794
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-envelope"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Sale Support
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            computer_world@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Map -->
<div class="map">
    <iframe title="google map" style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.151771362912!2d-0.3782926836720516!3d51.51043151830169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760d54c62777df%3A0x54f96cb1689f6a16!2sSouthall%20Broadway%20(Stop%20N)!5e0!3m2!1sen!2suk!4v1630595593008!5m2!1sen!2suk"
        allowfullscreen></iframe>
</div>

{% endblock content %}




{% block page_footer %}
<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32 pos-absolute  w-100">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30 ">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="{% url 'products' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            All
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=pc" class="stext-107 cl7 hov-cl1 trans-04">
                            Pc
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=components" class="stext-107 cl7 hov-cl1 trans-04">
                            Components
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=laptops" class="stext-107 cl7 hov-cl1 trans-04">
                            Laptops
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=monitors" class="stext-107 cl7 hov-cl1 trans-04">
                            Monitors
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 ">
                    <a class="cl7" href="{% url 'sitemap'%}">Our Sitemap</a>
                </p>
                <p class="stext-107 cl7 ">
                    <a class="cl7" href="{% url 'send_email'%}">Contact Us</a>
                </p>

                <p class="stext-107 cl7 p-b-10">
                    <a class="cl7" href="{% url 'aboutus' %}">About Us</a>
                </p>

                <p class="stext-107 cl7 ">
                    Any questions? Let us know in store at, 245 Brodway Southall, United kingdom, Ub12gh or call
                    us
                    on
                    (+44) 36 716 58794
                </p>

                <div class="p-t-27">
                    <a href="https://www.facebook.com/peetu.90/" target="_blank"
                        class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="https://www.twitter.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50 text-center col-md-12">

                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>
                <div class="wrap-input1 w-full p-b-4 t">
                    <p><a class="cl7" href="{% url 'newsletter_signup' %}">Subscribe <i class="fa fa-envelope"></i></a>
                    </p>
                    <div class="focus-input1 trans-04"></div>
                </div>
                <div class="p-t-18">
                    <p><a class="cl7" href="{% url 'newsletter_unsubscribe' %}">Unsubscribe <i
                                class="fa fa-envelope"></i></a></p>
                </div>

            </div>
        </div>
        <div class="p-t-40">
            <p class="stext-107 cl6 txt-center">
                Copyright &copy;<span id="year"></span>
                <script>
                    document.getElementById("year").innerHTML = new Date().getFullYear();
                </script> All rights reserved
            </p>
        </div>
    </div>
</footer>


{% endblock %}