{% extends 'mail-templates/mail_contact_confirmation.html' %}
{% load static %}
{% block content %}
<h3>Hi {{name}},</h3>

<p>
    Thank you for giving<a href="https://preet-computer-world.herokuapp.com/">
        Computer World</a>
    a try!
</p>

<p>
    strive to provide the highest quality service and care deeply about how our
    work affects customers like you.
</p>

<p>
    We would love it if you could send us an email and tell us what we can do to
    make
    <a href="https://preet-computer-world.herokuapp.com/"> Computer world</a>
    better.
</p>

<p>
    Thank you for taking the time out of your day. We really appreciate it!
    Best,the
    <a href="https://preet-computer-world.herokuapp.com/"> Computer world</a> team
</p>

<hr />
<h2>preet-computer-world.herokuapp.com</h2>
<p>Thanks for visiting preet-computer-world.herokuapp.com</p>
<hr />
<h2><strong>preet-computer-world.herokuapp.com</strong></h2>
<p>Southall Brodway, UB11RT, London</p>
<p>
    <a href="https://preet-computer-world.herokuapp.com/">
        https://preet-computer-world.herokuapp.com/</a>
</p>
<img class="email-image" src="https://www.pcspecialist.co.uk/images/landing/pcs/gaming-pc/bundle.jpg"
    alt="email image" />
<p>
    This email was sent because you joined our computer world email, online or at one
    of our events . Your email address will not shared with anyone.
</p>

<p class="footer-note">
    <strong>&copy; Computer World.All Rights Reserved</strong>
</p>
<p class="footer-address">Southall Brodway, UB11RT, London</p>

{% endblock content %}