/* ------------------------------------ Review add Page */
.add-product-form {
    margin: 0 auto;
    width: 75%;
}

.add-product:hover {
    color: #D9895B;
}

.cancel {
    color: #730C02;
    border: 1px solid #730C02;
}

.cancel:hover {
    background-color: #730C02;
    color: white;
}

/* ------------------------------------ Delete Product Page */
#delete {
    margin: 50px;
    padding-top: 15rem;
    margin-bottom: 30rem;
}

#delete-confirm {
    background-color: #beb5b1a6;
    margin: 0 auto;
    padding: 40px;
    width: 50%;
    border-radius: 10px;
    font-size: large;
}

.btn-del,
.btn-cancel {
    margin: 5px;
}


/* ------------------------------------ Reviews icon and colours */

.rating {
    display: inline-block;
}

.rating-icon {
    color: #D9895B;
}

.review-section {
    padding-bottom: 20px;
}

/* ------------------------------------ Edit Review */
.edit-review {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20rem;
}

.edit-container {
    padding-top: 15rem;

}

/* ------------------------------------ Product Details - Customer Reviews */
/* Star Rating CSS from Rathan Kumar's YouTube Tutorial and amended slightly to suit my project.
Link in README */
/* Hide Radio button */
.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
    color: #aaa;
}

.rate>label {
    float: right;
}

/* Showing the stars */
.rate>label:before {
    display: inline-block;
    font-size: 20px;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

/* Half star */
.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click and hover */
input:checked~label,
label:hover~label {
    color: #f9ba48;
}

/* hover highlight */
input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #730C02;
}

.rating-star i {
    color: #f9ba48 !important;
}

ul.thumb {
    margin: 0 auto;
    padding: 0;
    float: left;
}

ul.thumb li {
    list-style: none;
    margin: 10px;
}

ul.thumb li img {
    width: 80px;
    height: 80px;
    border: 1px solid grey;
}

.review-box {

    width: 83%;
}

.buttons-style {
    border: 1px solid #000;
    color: #000;
}

.buttons-style:hover {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 850px) {

    /* ------------------------------------ Product Details Page */


    .customer-reviews {
        margin-top: 2rem !important;
    }

    /* Confirm Delete Page */

    #delete-confirm {
        width: 90% !important;
    }

    #delete {
        padding-top: 10rem;
        margin-bottom: 10rem;
    }




}

@media screen and (max-width: 480px) {
    #delete {
        margin: 30px;
    }

    #delete-confirm {
        padding: 20px;
    }

    .delete-msg {
        font-size: small;
    }

    .btn-del,
    .btn-cancel {
        font-size: small;
        padding: 5px;
    }

    .edit-review {
        padding-bottom: 5rem;
        width: 100%;
    }

    .edit-container {
        padding-top: 10rem;
    }
}