{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg product-top">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                        <div class="slick3 gallery-lb">
                            {% if product.image %}
                            <div class="item-slick3 d-flex justify-content-center" data-thumb="{{product.image.url }}">
                                <div class="wrap-pic-w pos-relative">
                                    <img class="detail-page-image" src="{{product.image.url }}" target="_blank">
                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                        href="{{product.image.url }}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}


                            {% if product.image1 %}
                            <div class="item-slick3 d-flex justify-content-center" data-thumb="{{product.image1.url }}">
                                <div class="wrap-pic-w pos-relative">
                                    <img class="detail-page-image" class="product-image-style"
                                        src="{{product.image1.url }}" alt="{{ product.name }}">
                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                        href="{{product.image1.url }}" alt="{{ product.name }}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}


                            {% if product.image2 %}
                            <div class="item-slick3 d-flex justify-content-center" data-thumb="{{product.image2.url }}"
                                alt="{{ product.name }}">
                                <div class="wrap-pic-w pos-relative">
                                    <img class="detail-page-image" src="{{product.image2.url }}"
                                        alt="{{ product.name }}">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                        href="{{product.image2.url }}" alt="{{ product.name }}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg product-top-name">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        {{ product.name }}
                    </h4>


                    {% if product.discount|default_if_none:'' %}
                    <span class="text-muted mtext-106 cl2 price-text">
                        <del>£{{product.price }}</del>
                    </span>
                    {% else %}
                    <span class="mtext-106 cl2 price-text">
                        £{{product.price }}
                    </span>
                    {% endif %}

                    {% if product.discount|default_if_none:'' %}
                    <span class="mtext-106 cl2 price-text">
                        £{{ product.discount|default_if_none:'' }}
                    </span>
                    {% else %}
                    <span class="mtext-106 cl2 price-text">
                        {{ product.discount|default_if_none:'' }}
                    </span>
                    {% endif %}


                    <p class="stext-102 cl3 p-t-23">
                        <ul>
                            <li>{{ product.description }}</li>
                        </ul>
                    </p>
                    <p class="stext-102 cl3 p-t-23">
                    </p>

                    <div class="p-t-33">
                        <div class="flex-w flex-r-m p-b-10">
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% with product.has_sizes as s %}
                                {% if s %}
                                <div>
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size"
                                        id='id_product_size'>
                                        <option value="24">24</option>
                                        <option value="28">28</option>
                                        <option value="28" selected>28</option>
                                        <option value="32">32</option>
                                        <option value="42">42</option>
                                    </select>
                                </div>
                                {% endif %}
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class=" flex-w flex-m respon6-next">
                                    {% csrf_token %}
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0"
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fa fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class=" qty_input mtext-104 cl3 txt-center num-product" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                            <div class="input-group-append ">
                                                <button class="increment-qty btn btn-black "
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit"
                                        class="detail-button flex-c-m stext-101 cl0 size-101  rounded p-lr-15 trans-04"
                                        value="Add to Bag">
                                    <div>
                                        <a href="{% url 'products' %}"
                                            class="btn btn-outline-black rounded-0 mt-3 keep-shopping-text">
                                            <span class="icons">
                                                <i class="fa fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                                {% endwith %}
                            </form>
                        </div>


                    </div>
                </div>


                <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                    <div class="flex-m bor9 p-r-10 m-r-11">
                        <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">
                            <p>
                                {% if total_reviews %}
                                <span><i class="fa fa-star cl11 pr-2"></i>Reviews : {{ total_reviews }}</span>
                                {% else %}
                                <small>No Rating</small>
                                {% endif %}
                            </p>
                        </a>

                    </div>
                    {% if product.category %}
                    <p class="small mt-1 mb-0 tags">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fa fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <a rel="nofollow" href="https://www.facebook.com/peetu.90/" target="_blank"
                        class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a rel="nofollow" href="https://www.twitter.com/" target="_blank"
                        class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a rel="nofollow" href="https://www.instagram.com" target="_blank"
                        class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                        data-tooltip="Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>

                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>


        <div style="height:auto;">
            <div class="bor10 m-t-50 p-t-43 p-b-40">
                <!-- Tab01 -->
                <div class="tab01">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item p-b-10">
                            <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                        </li>

                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional
                                information</a>
                        </li>

                        <li class="nav-item p-b-10">

                            <a class="nav-link" href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Reviews
                                ({{total_reviews}})</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-t-43">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                <p class="stext-102 cl6">
                                    <ul>
                                        <li class="list-style-description">{{product.name}} </li>
                                    </ul>
                                </p>
                                <ul>
                                    <li class="list-style-description">{{product.description}}</li>
                                </ul>

                            </div>
                        </div>

                        <!-- - -->

                        <div class="tab-pane fade" id="information" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                    <ul class="p-lr-28 p-lr-15-sm">
                                        <li class="flex-w flex-t p-b-7">
                                            <span class="stext-102 cl3 size-205">
                                                Weight
                                            </span>

                                            <span class="stext-102 cl6 size-206">
                                                {{product.weight}} kg
                                            </span>
                                        </li>

                                        <li class="flex-w flex-t p-b-7">
                                            <span class="stext-102 cl3 size-205">
                                                Dimensions
                                            </span>

                                            <span class="stext-102 cl6 size-206">
                                                {{product.dimension}}
                                            </span>

                                        </li>
                                        <li class="flex-w flex-t p-b-7">
                                            <span class="stext-102 cl3 size-205">
                                                Size
                                            </span>
                                            <span class="stext-102 cl6 size-206">
                                                {% with product.has_sizes as s %}
                                                {% if s %}
                                                <div class="d-flex">
                                                    <div name="product_size" id='id_product_size' class="d-flex">
                                                        <div class="pr-1" value="24">24,</div>
                                                        <div class="pr-1" value="28">28,</div>
                                                        <div class="pr-1" value="32">32,</div>
                                                        <div class="pr-1" value="42">42,</div>
                                                    </div>
                                                    </p>
                                                </div>
                                                {% else %}
                                                <div>N/A</div>
                                                {% endif %}
                                                {% endwith %}
                                            </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
        <span class="stext-107 product-detail-sku p-lr-25">
            SKU: {{product.sku}}
        </span>
        <span class="stext-107 product-detail-sku p-lr-25">
            Categories: {{product.category}}
        </span>
    </div>
</section>


<!-- Modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reviews</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if user.is_authenticated %}
                <form action="{% url 'submit_review' product.id %}" method="POST" class="w-full">
                    {% csrf_token %}
                    <h5 class="mtext-108 cl2 p-b-7">
                        Add a review
                    </h5>
                    <div class="flex-w flex-m p-t-50 p-b-23">
                        <span class="stext-102 cl3 m-r-16">
                            Your Rating
                        </span>
                        <span class="wrap-rating fs-18 cl11 pointer">
                            <i class="item-rating pointer zmdi zmdi-star-outline {% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                aria-hidden="true" required checked="checked"></i>
                            <i class="item-rating pointer zmdi zmdi-star-outline{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                aria-hidden="true" required checked="checked"></i>
                            <i class="item-rating pointer zmdi zmdi-star-outline{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                aria-hidden="true" required checked="checked"></i>
                            <i class="item-rating pointer zmdi zmdi-star-outline{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                aria-hidden="true" required checked="checked"></i>
                            <i class="item-rating pointer zmdi zmdi-star-outline{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                aria-hidden="true" required checked="checked"></i>
                            <input class="dis-none" type="number" name="rating">
                        </span>
                    </div>
                    <div class="row p-b-25">
                        <div class="col-12 p-b-5">
                            <label class="stext-102 cl3" for="review">Your review</label>
                            <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review"
                                name="review"></textarea>
                        </div>
                    </div>
                    <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-40">
                        Submit
                    </button>
                    {% else %}
                    <div class="font-italic p-b-50">
                        You must be logged in to post a review.
                        <a href="{% url 'account_login' %}"
                            class="ico keep-shopping-text p-t-10 p-b-10 p-l-10 p-r-10 bg-info">Login
                            Here.</a>
                    </div>
                </form>
                {% endif %}

                <!-- Review -->
                <div class="flex-w flex-t p-b-68">
                    <div class="bg-light w-100">
                        {% for review in reviews %}
                        {% if request.user == review.user or request.user.is_superuser %}
                        <div class="col text-right del-product p-t-15">
                            <a class="text-info p-r-10" href="{% url 'edit_review' review.id %}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="text-danger" href="{% url 'delete_review' review.id %}">
                                <i class="fa fa-remove"></i>
                            </a>
                        </div>
                        {% endif %}
                        <div>
                            <div class="flex-w  p-b-1 p-l-20 ">
                                <span class="mtext-107 cl2 p-r-20">
                                    {{ review.user }}
                                </span>
                                <span class="fs-18 cl11">
                                    <i class="item-rating pointer zmdi zmdi-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o zmdi zmdi-star-outline{% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="item-rating pointer zmdi zmdi-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o zmdi zmdi-star-outline{% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="item-rating pointer zmdi zmdi-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o zmdi zmdi-star-outline{% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="item-rating pointer zmdi zmdi-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o zmdi zmdi-star-outline{% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="item-rating pointer zmdi zmdi-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o zmdi zmdi-star-outline{% endif %}"
                                        aria-hidden="true"></i>
                                </span>
                            </div>
                            <p class="stext-102 cl6 p-b-30 p-lr-20">
                                {{review.review}}
                            </p>
                            <p style="border-bottom: 35px solid #fff;"></p>
                            {% empty %}
                        </div>
                        <div class="font-italic mt-2">
                            There are currently no reviews to display for this product.
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}