{% extends "base.html" %}
{% load static %}
{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col text-center m-t-110">
            <h2 class="logo-font">PRODUCTS</h2>
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                <span
                    class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


<div class="bg0 m-t-23 p-b-140">

    <div class="container">
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>


        <div class="flex-w flex-sb-m p-b-52 ">

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>
            </div>


            <div class="dis-none panel-filter w-full p-t-10 ">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm ">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>

                        <ul class="filter-style">
                            <li class="p-b-6">
                                <a href="{% url 'products' %}?sort=price&direction=asc"
                                    class="filter-link stext-106 trans-04">
                                    Price(low to high)
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products' %}?sort=price&direction=desc"
                                    class="filter-link stext-106 trans-04">
                                    Price(high to low)
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products' %}?sort=rating&direction=asc"
                                    class="filter-link stext-106 trans-04">
                                    Rating(low to high)
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products' %}?sort=rating&direction=desc"
                                    class="filter-link stext-106 trans-04">
                                    Rating(high to low)
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="filter-col3 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Category
                        </div>

                        <ul class="filter-style">
                            <li class="p-b-6">
                                <a href="{% url 'products' %}?sort=category&direction=asc"
                                    class="filter-link stext-106 trans-04 filter-link-active">
                                    Category (A-Z)
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products' %}?sort=category&direction=desc"
                                    class="filter-link stext-106 trans-04">
                                    Category (Z-A)
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products' %}?sort=name&direction=asc"
                                    class="filter-link stext-106 trans-04">
                                    Name (A-Z)
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products' %}?sort=name&direction=desc"
                                    class="filter-link stext-106 trans-04">
                                    Name (Z-A)
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="filter-col4 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Tags
                        </div>

                        <div class="flex-w p-t-4 m-r--5">
                            <a href="{% url 'products' %}"
                                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                ALL
                            </a>

                            <a href="{% url 'products' %}?category=pc"
                                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Pc
                            </a>

                            <a href="{% url 'products' %}?category=components"
                                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Components
                            </a>

                            <a href="{% url 'products' %}?category=laptops"
                                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Laptops
                            </a>

                            <a href="{% url 'products' %}?category=monitors"
                                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Monitors
                            </a>
                            <a href="{% url 'products' %}?category=deals"
                                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Deals
                            </a>
                            <a href="{% url 'products' %}?category=clearance"
                                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Clearance
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row  mt-3">
            {% for product in products %}
            <div class="col-sm-6  col-lg-3 p-b-35 isotope-item women">
                <div class="block2">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}"
                        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                        <div class="block2-pic hov-img0 d-flex justify-content-center">
                            <img class="product-image-style" src="{{product.image.url }}" alt="{{ product.name }}">
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14 p-l-30">
                            <div class="block2-txt-child1 flex-col-l ">
                                <!-- <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"> -->
                                <p class="justify-content-center d-flex">{{product.name}}</p>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}"
                                    class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                    </a>
                    {% endif %}


                    <p class="text-center">
                        {% if product.rating %}
                        <span><i class="fa fa-star cl11 m-r-10 p-t-15"></i>{{ product.rating }} / 5</span>
                        {% else %}
                        <small class="text-muted">No Rating</small>
                        {% endif %}
                    </p>

                    {% if product.category %}
                    <p class="small mt-1 mb-0 tags w-100 text-center p-b-20">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fa fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}

                    {% if request.user.is_superuser %}
                    <p class="small mt-1 mb-0 tags w-100 text-center p-b-20">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </p>
                    {% endif %}

                    <ul>
                        <li>{{product.description }}</li>
                    </ul>


                    <span class="stext-105 cl3 price-text w-100 d-block text-center p-t-20 p-b-20 font-weight-bold ">
                        £{{product.price }}
                    </span>


                    <div class="w-100 text-center">
                        <div class="grid-item__buttons">
                            <a class="button button--secondary button--small d-flex justify-content-center bg-info p-all-8 text-white rounded"
                                href="{% url 'product_detail' product.id %}  " data-analytics-event="click"
                                data-event-category="Search Listings - Grid" data-event-action="Product Click"
                                data-event-label="More Info Button">More Info</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if forloop.counter|divisibleby:1 %}
    <div class="col-12 d-sm-none mb-5">
        <hr>
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
        <hr>
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:3 %}
    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
        <hr>
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:4 %}
    <div class="col-12 d-none d-xl-block mb-5">
        <hr>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}


{% block page_footer %}
<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32 pos-absolute  w-100">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30 ">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=pc" class="stext-107 cl7 hov-cl1 trans-04">
                            Pc
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=components" class="stext-107 cl7 hov-cl1 trans-04">
                            Components
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=laptops" class="stext-107 cl7 hov-cl1 trans-04">
                            Laptops
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=monitors" class="stext-107 cl7 hov-cl1 trans-04">
                            Monitors
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 ">
                    Any questions? Let us know in store at, 245 Brodway Southall, United kingdom, Ub12gh or call
                    us
                    on
                    (+44) 36 716 58794
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50 text-center col-md-12">

                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>
                <div class="wrap-input1 w-full p-b-4 t">
                    <p><a class="cl7" href="{% url 'newsletter_signup' %}">Subscribe <i class="fa fa-envelope"></i></a>
                    </p>
                    <div class="focus-input1 trans-04"></div>
                </div>
                <div class="p-t-18">
                    <p><a class="cl7" href="{% url 'newsletter_unsubscribe' %}">Unsubscribe <i
                                class="fa fa-envelope"></i></a></p>
                </div>

            </div>
        </div>
        <div class="p-t-40">
            <p class="stext-107 cl6 txt-center">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved
            </p>
        </div>
    </div>
</footer>
{% endblock %}