{% extends "base.html" %}
{% load static %}
{% block page_header %}


<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg product-top">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                        <div class="slick3 gallery-lb">
                            {% if product.image %}
                            <div class="item-slick3" data-thumb="{{product.image.url }}">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{product.image.url }}" target="_blank">
                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                        href="{{product.image.url }}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}


                            {% if product.image1 %}
                            <div class="item-slick3" data-thumb="{{product.image1.url }}">
                                <div class="wrap-pic-w pos-relative">
                                    <img class="product-image-style" src="{{product.image1.url }}"
                                        alt="{{ product.name }}">
                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                        href="{{product.image1.url }}" alt="{{ product.name }}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}


                            {% if product.image2 %}
                            <div class="item-slick3" data-thumb="{{product.image2.url }}" alt="{{ product.name }}">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{product.image2.url }}" alt="{{ product.name }}">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                        href="{{product.image2.url }}" alt="{{ product.name }}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg product-top-name">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        {{ product.name }}
                    </h4>


                    <span class="mtext-106 cl2 price-text">
                        £{{ product.price }}
                    </span>


                    <p class="stext-102 cl3 p-t-23">
                        <ul>
                            <li>{{ product.description }}</li>
                        </ul>
                    </p>
                    <p class="stext-102 cl3 p-t-23">
                    </p>


                    <div class="p-t-33">


                        <div class="flex-w flex-r-m p-b-10">
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% with product.has_sizes as s %}
                                {% if s %}
                                <div>
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size"
                                        id='id_product_size'>
                                        <option value="24">24</option>
                                        <option value="28">28</option>
                                        <option value="28" selected>28</option>
                                        <option value="32">32</option>
                                        <option value="42">42</option>
                                    </select>
                                </div>
                                {% endif %}
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="size-204 flex-w flex-m respon6-next">
                                    {% csrf_token %}
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0"
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fa fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class=" qty_input mtext-104 cl3 txt-center num-product" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                            <div class="input-group-append ">
                                                <button class="increment-qty btn btn-black "
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit"
                                        class="basket-button flex-c-m stext-101 cl0 size-101  bor1 p-lr-15 trans-04"
                                        value="Add to Bag">
                                    <div>
                                        <a href="{% url 'products' %}"
                                            class="btn btn-outline-black rounded-0 mt-3 keep-shopping-text">
                                            <span class="icons">
                                                <i class="fa fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                                {% endwith %}
                            </form>
                        </div>


                    </div>
                </div>


                <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                    <div class="flex-m bor9 p-r-10 m-r-11">
                        <p>
                            {% if product.rating %}
                            <span class="text-muted"><i class="fa fa-star cl11 pr-2"></i>{{ product.rating }} / 5</span>
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}
                        </p>

                    </div>
                    {% if product.category %}
                    <p class="small mt-1 mb-0 tags">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fa fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <a href="https://www.facebook.com/peetu.90/" target="_blank"
                        class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.twitter.com/" target="_blank"
                        class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="https://www.google.com/" target="_blank"
                        class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                        data-tooltip="Google Plus">
                        <i class="fa fa-google-plus"></i>
                    </a>

                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="bor10 m-t-50 p-t-43 p-b-40">
            <!-- Tab01 -->
            <div class="tab01">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item p-b-10">
                        <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-t-43">
                    <!-- - -->
                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                        <div class="how-pos2 p-lr-15-md">
                            <p class="stext-102 cl6">
                                <ul>
                                    <li class="list-style-description">{{product.name}} </li>
                                </ul>
                            </p>
                            <ul>
                                <li class="list-style-description">{{product.description}}</li>
                            </ul>
                        </div>
                    </div>

                    <!-- - -->
                    <div class="tab-pane fade" id="information" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                <ul class="p-lr-28 p-lr-15-sm">
                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            <div>Weight</div>

                                        </span>

                                        <span class="stext-102 cl6 size-206">
                                            <div>{{product.weight}} kg</div>
                                        </span>
                                    </li>

                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            <div>Dimensions</div>
                                        </span>
                                        <span class="stext-102 cl6 size-206">
                                            <div>{{product.dimension}}</div>
                                        </span>
                                    </li>


                                    <li class="flex-w flex-t p-b-7">
                                        <span class="stext-102 cl3 size-205">
                                            Size
                                        </span>
                                        <span class="stext-102 cl6 size-206">
                                            {% with product.has_sizes as s %}
                                            {% if s %}
                                            <div class="d-flex">
                                                <p class="pr-1"><strong>Size:</strong>
                                                    <div name="product_size" id='id_product_size' class="d-flex">
                                                        <div class="pr-1" value="24">24,</div>
                                                        <div class="pr-1" value="28">28,</div>
                                                        <div class="pr-1" value="32">32,</div>
                                                        <div class="pr-1" value="42">42,</div>
                                                    </div>
                                                </p>
                                            </div>
                                            {% else %}
                                            <div>N/A</div>
                                            {% endif %}
                                            {% endwith %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                <div class="p-b-30 m-lr-15-sm">


                                    <!-- Review -->
                                    <div class="flex-w flex-t p-b-68">
                                        {% if product.image1 %}
                                        <div class="wrap-pic-s size-109  of-hidden m-r-18 m-t-6">
                                            <img src="{{product.image1.url }}" alt="{{ product.name }}">
                                        </div>
                                        {% else %}
                                        <a href="">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}

                                        <div class="size-207">
                                            <div class="flex-w flex-sb-m p-b-17">
                                                <span class="mtext-107 cl2 p-r-20">
                                                    <p>{{product.name}} :</p>
                                                </span>
                                                <span>
                                                    <p>
                                                        {% if product.rating %}
                                                        <span class="text-muted"><i
                                                                class="fa fa-star cl11 pr-2"></i>{{ product.rating }} /
                                                            5</span>
                                                        {% else %}
                                                        <small class="text-muted">No Rating</small>
                                                        {% endif %}
                                                    </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
        <span class="stext-107 cl6 p-lr-25">
            SKU: {{product.sku}}
        </span>
        <span class="stext-107 cl6 p-lr-25">
            Categories: {{product.category}}
        </span>
    </div>
</section>
{% endblock %}



{% block page_footer %}
<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32 pos-absolute  w-100">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30 ">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="{% url 'products' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            All
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=pc" class="stext-107 cl7 hov-cl1 trans-04">
                            Pc
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=components" class="stext-107 cl7 hov-cl1 trans-04">
                            Components
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=laptops" class="stext-107 cl7 hov-cl1 trans-04">
                            Laptops
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="{% url 'products' %}?category=monitors" class="stext-107 cl7 hov-cl1 trans-04">
                            Monitors
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 ">
                    <a class="cl7" href="{% url 'sitemap'%}">Our Sitemap</a>
                </p>
                <p class="stext-107 cl7 ">
                    <a class="cl7" href="{% url 'send_email'%}">Contact Us</a>
                </p>

                <p class="stext-107 cl7 p-b-10">
                    <a class="cl7" href="{% url 'aboutus' %}">About Us</a>
                </p>

                <p class="stext-107 cl7 ">
                    Any questions? Let us know in store at, 245 Brodway Southall, United kingdom, Ub12gh or call
                    us
                    on
                    (+44) 36 716 58794
                </p>

                <div class="p-t-27">
                    <a href="https://www.facebook.com/peetu.90/" target="_blank"
                        class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="https://www.twitter.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50 text-center col-md-12">

                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>
                <div class="wrap-input1 w-full p-b-4 t">
                    <p><a class="cl7" href="{% url 'newsletter_signup' %}">Subscribe <i class="fa fa-envelope"></i></a>
                    </p>
                    <div class="focus-input1 trans-04"></div>
                </div>
                <div class="p-t-18">
                    <p><a class="cl7" href="{% url 'newsletter_unsubscribe' %}">Unsubscribe <i
                                class="fa fa-envelope"></i></a></p>
                </div>

            </div>
        </div>
        <div class="p-t-40">
            <p class="stext-107 cl6 txt-center">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved
            </p>
        </div>
    </div>
</footer>
{% endblock %}



{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}